# Byte-compiled / optimized / DLL files
__pycache__/

assets/binnedHiC
assets/clusters
assets/contact_matrices
assets/edge_features
assets/exclusive_chrom_definition
assets/exclusive_chromHMM
assets/exclusive_dnabert2
assets/exclusive_gene_assembly
assets/metacell
assets/node_embeddings
assets/pairs

assets/cell_types_count.json
assets/cell_types_sample_index.json
assets/cell_types.json
assets/chrom_definition_shapes.json
assets/chromHMM_definitions.pkl
assets/data_map.json
assets/node_pca_model.pkl
assets/gencode.vM23.annotation.gtf
assets/mm10.fa
assets/mm10_100_segments_browser.bed

assets/gene_definitions_vM23.json
assets/exclusive_gene_definitions.json
assets/exclusive_gene_index.json


assets/metadata.xlsx
assets/rna_umicount.tsv

logs
misc
results
checkpoints
figures

